body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}

header {
    text-align: center;
}
header img{
    height: 50vh;
}
button{
    background-color: #0044cb;
    padding: 8px;
    color: white;
    border-radius: 5px;
}
.image{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/02/Computer_science_education.png ");
    position: relative;
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.715);
}
.hero{
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;
}
.hero h1{
    font-size: 2em;
    margin-top: 0;
    color: white;
}
.hero p{
    font-size: 1.2em;
    margin-bottom: 40px;
}
.hero .btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #0044cb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.hero .btn:hover{
    background-color: #0044cb;
}
h1 {
    color: #0044cb;
}
h2 {
    color: #0044cb;
}
nav {
    background-color: rgb(7, 7, 7);
    text-align: center;
}
.navbar ul li{
    list-style-type: none;
    color: whitesmoke;
    display: inline-block;
    
}
.navbar ul{
    padding: 13px;
    margin: 0px;
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.nav li:hover,a:hover{
    background-color: grey;
   
}
h3{
    color: #0044cb;
}
.Curriculum{
    ul{
        list-style: none;
        display: flex;
    }
    li{
        /* list-style-type: none; */
        color: black;
        background-color: #f2f2f2;
        margin: 5px;
        border-radius: 5px;
        
        /* display: inline-block; */
        padding: 12px 20px;
        text-align: center;
    }
}

.main-content {
    background-color: #f2f2f2;
}
.overview-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

.hex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}
.hex {
    width: 150px;
    height: 86.6px; 
    background-color:rgba(220, 220, 220, 0.922);
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    cursor: pointer;
    padding:15px

}
.hex:hover {
    background-color:yellow;
}
.hex-content {
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: bold;
    padding: 12px;
}
#hex1{
    margin-top: 60px;
    margin-bottom: -20px;
}

iframe{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.life p{
    text-align: center;
}


.social-media {
    margin-top: 10px;
}

.social-media a {
    text-decoration: none;
    margin: 0 10px;
    color: whitesmoke; 
    transition: transform 1s ease, color 1s ease;
}

.social-media a:hover {
    transform: scale(1.2);
    background-color: black;
}
.social-media i:hover{
    transform: scale(1.1);
    /* color: #f2f2f2; */
}
.social-media i {
    font-size: 24px;
    /* color: whitesmoke; */

}
footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 5px 20px;
}